.grid {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 1fr 2fr 1fr 2fr;
    grid-template-rows: 2fr 1fr 2fr 1fr 2fr 1fr 2fr;
}

.grid > div {
    display: flex;
    font-family: monospace;
    margin: 5px;
    padding: 10px;
    align-content: center;
    justify-content: center;
}

.cell {
    border: 1px solid blue;
}

.operator {
    border: 1px solid red;
}

.operator.vertical span {
    display: inline-block;
    transform: rotate(90deg);
}

#puzzle .cell, #puzzle .operator {
    cursor: pointer;
}
