body {
  font-family: monospace;
  margin: 0;
  padding: 0;
  user-select: none;
}



.banner {
  align-items: flex-end;
  background-color: #303030;
  border-bottom: 2px solid grey;

  box-shadow: 0px 10px 9px 0px rgba(0,0,0,0.75);
  margin-bottom: 20px;

  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.banner > div {
    display: flex;
    flex-direction: column;
}
.banner .titles {
  align-items: flex-start;
}
.banner .title {
    color: orange;
    font-size: 200%;
    font-stretch: ultra-expanded;
    font-weight: bolder;
}
.banner .links {
    align-items: flex-end;
}
.banner .links a {
    color: #4FC3F7;
}
.banner .links a:hover {
  color: cyan;
}



#game {
  display: grid;
  grid-template-columns: 1fr auto 1fr auto 1fr auto 1fr;
  grid-gap: 5px;
}


.container {
    grid-column: span 3;
}

.button {
  cursor: pointer;
  display: block;
  text-align: center;
}

.banner .button {
    color: #4FC3F7;
    display: inline-block;

}

.banner .button:hover {
    color: cyan;
}

.space.horizontal {
    padding-left: 5px;
    padding-right: 5px;
}

.space.vertical {
    padding-bottom: 5px;
    padding-top: 5px;
}

.space {
  text-align: center
}

.big.space {
  grid-column: span 5;
}


.container .title, .step .title {
    text-align: center;
}

.step .code {
  font-family: monospace;
  white-space: pre;
}

/*
.pulse {
  animation: shadow-pulse .25s 1;
}


@keyframes shadow-pulse {
  0%   { box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.4); }
  100% { box-shadow: 0 0 0 25px rgba(255, 255, 255, 0); }
}
*/


.grid {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 1fr 2fr 1fr 2fr;
    grid-template-rows: 2fr 1fr 2fr 1fr 2fr 1fr 2fr;
}

.grid > div {
    display: flex;
    font-family: monospace;
	font-size: 3vw;
    margin: 5px;
	line-height: 0.5;
    padding: 5px;
    align-items: center;
    justify-content: center;
}

.grid .operator.vertical span {
    display: inline-block;
    transform: rotate(90deg);
}

#puzzle .cell, #puzzle .operator {
    cursor: pointer;
}





/* MODERN MODE */
body.modern {
    background-color: #606060;
}
.modern #game {
    margin: 10px;
}
.modern .container {
    background-color: #303030;
    border: 1px solid #101010;
    grid-column: span 3;
}
.modern #game .button {
    background-color: #999999;
    border-radius: 7px;
    color: black;
    height: 35px;
    line-height: 35px;
    margin-bottom: 10px;
}
.modern #game .button:hover {
    background-color: red;
    color: white;
}
.modern #game .button:active {
    background-color: pink;
}

.modern .path {
    color: #999999;
}


.modern .step {
    background-color: #303030;
    border: 1px solid #101010;
}

.modern .container .title, .modern .step .title {
    background-color: #101010;
    color: #F8C471;
    font-weight: bold;
    padding: 2px;
    padding: 2px;
}

.modern .step .code {
    color: #F8C471;
    padding: 8px;
}

.modern #puzzle-container .title, .modern #rpl .title, .modern #rpl .code {
    color: #D5F5E3;
}

.modern #fnc .title, .modern #fnc .code {
    color: #C5E1A5;
}

.modern #dimacs-puzzle .title, .modern #dimacs-puzzle .code {
    color: #FFF59D;
}


.modern .grid {
    margin: 20px;
}


.modern .grid .cell {
    background-color: #999;
}
.modern #puzzle .cell.constraint {
    background-color: mediumpurple;
    color: white;
}
.modern #puzzle .cell.constraint:hover {
    background-color: #e6def7;
    color: #7b51d3;
}
.modern #puzzle .cell:hover {
    background-color: #ffffff;
}

.modern .grid .operator {
    background-color: #777;
}
.modern #puzzle .operator:hover {
    background-color: #eee;
}
.modern #puzzle .operator.constraint {
    background-color: #eb9800;
    color: white;
}
.modern #puzzle .operator.constraint:hover {
    background-color: #fff1d8;
    color : #eb9800;
}
.modern #solution .operator {
    background-color: #303030;
    color: white;
}



/* CALCULATOR MODE */

body.calculator {
    background-image: url('wood_background.jpg');
}
.calculator #game {
    background: linear-gradient(0, #1c1c1c, #313131);
    border-radius: 20px;
    box-shadow: 20px 20px 30px 20px rgba(0,0,0,.7);
    margin: 50px;
    /* transform: rotate(-2deg); */
    padding: 50px;
}
.calculator .container {
    grid-column: span 3;
}
.calculator #game .button {
    background: linear-gradient(135deg, #ffb935, #ffa70c);
    border: 5px outset #ffb935;
    font-size: 3.8vw;
    color: black;
    margin: 5px 20px 20px 16px;
    padding: 0 30px;
}
.calculator #game .button:hover {
    background: linear-gradient(135deg, #ef9915, #efa70c);
    border-color: #ef9915;
}
.calculator #game .button:active {
    border-color: #efa70c;
    border-style: inset;
}

.calculator .step {
    background-color: #303030;
    border: 1px solid #101010;
}

.calculator #puzzle .cell, .calculator #puzzle .operator {
    color: white;
    font-size: 2.5vw;
}
.calculator #puzzle .cell {
    background: linear-gradient(135deg, #ff7296, #ff4561);
    border: 5px outset #ff7296;
    padding: 0px;
}
.calculator #puzzle .cell:hover {
    background: linear-gradient(135deg, #df4561, #df1541);
    border-color: #df1541;
}

.calculator #puzzle .operator {
    background: linear-gradient(135deg, #313131, #1c1c1c);
    border: 5px outset #414141;
}
.calculator #puzzle .operator:hover {
    background: linear-gradient(135deg, #1c1c1c, black);
    border-color: #2c2c2c;
}

@font-face {
    font-family: 'lcd';
    src: url("Digital7-1e1Z.ttf") format('truetype');
}

.calculator #solution-container {
    background-color: #bbb;
    border: 2px outset #ddd;
    color: white;
}

.calculator #solution {
    border: 2px inset #ddd;
    margin: 50px;
}
.calculator #solution > div {
    font-family: 'lcd';
    font-size: 3.9vw;
    margin: 0;
}


.calculator .path,
.calculator .step,
.calculator .big.space,
.calculator .vertical.space,
.calculator .container .title {
    display: none;
}


/* 70's MODE */

.seventies #solution {
    background: linear-gradient(0, black, black);
}
.seventies #solution > div {
    color: red;
    text-shadow: 0 0 6px red;
}

.seventies #solution .operator {
    color: red;
}


/* 80's MODE */

.eighties #solution {
    background: linear-gradient(0, #bccd95, #7d8c73);
    box-shadow: inset 0 0 30px black;
}
.eighties #solution > div {
    color: black;
    text-shadow: 0 0 15px #7d8c73;
}

.eighties #solution .operator {
    color: #555;
}

